<div class="container-fluid">
    <div class="row">
        <br><br><br>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-6">
            <br>
            <h2 class="text-center">Editar un equipo</h2>
            <br>
            <form name="equipo" (ngSubmit)="f.form.valid && editEquipoComputo()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="tecnicoName"><b>Descripción</b></label>
                    <input type="text" name="equipoComputoDescripcion" class="form-control" id="equipoComputoDescripcion" [(ngModel)]="equipoComputo.descripcion" #equipoComputoDescripcion="ngModel" required>
                </div>
            </form>

            <div class="row form-inline justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary" (click)="editEquipoComputo() && ngOnChanges()">Editar</button>
                <div class="divider"></div>
                <button type="button" class="btn btn-danger" (click)="cancelEdition()">Cancelar</button>
            </div>
        </div>
    </div>
</div>