<div class="row justify-content-md-center">
    <div class="col-8">
        <nav class="navbar navbar-light bg-light">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button type="button" class="btn btn-primary">Search</button>
                <div class="divider"></div>
                <button class="btn btn-outline-success my-2 my-sm-0" (click)="goBack()">Regresar  </button>
            </form>

            <button class="btn btn-outline-success my-2 my-sm-0" (click)="crearEmpleado()">Crear  </button>

        </nav>
    </div>
</div>



<div class="row justify-content-md-center">
    <div class="col-8">
        <table *ngIf="shows" class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Cédula</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Opciones</th>
                    <th scope="col"></th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let empleado of empleados">
                    <td>{{empleado.id}}</td>
                    <td>{{empleado.name}}</td>
                    <td> {{empleado.cedula}} </td>
                    <td>{{empleado.usuario}}</td>
                    <td>
                        <button class="btn btn-danger" (click)="deleteEmpleado(empleado.id)"><span class="fa fa-trash"></span></button>
                    </td>

                    <td>
                        <button class="btn btn-primary" (click)="showHideEdit(empleado.id)"><span class="fa fa-pencil"></span></button>
                    </td>
                    <td>
                        <button class="btn btn-primary" [routerLink]="['/listarIncidencias']"><span class="fa fa-align-justify"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>