<div class="container" style="display:flex; justify-content: center;">
    <div class="row">
        <div class="col">
            <table *ngIf="shows" class="table">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Cedula</th>
                        <th scope="col">usuario</th>
                        <th scope="col">Optciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let empleado of empleados">
                        <td>{{empleado.id}} </td>
                        <td>{{empleado.name}}</td>
                        <td> {{empleado.cedula}} </td>
                        <td>{{empleado.usuario}}</td>
                        <td>
                            <button class="btn btn-primary" (click)="showHideEdit(empleado.id)"><span class="fa fa-pencil"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button (click)=" shows = !shows  " class="btn btn-outline-primary btn-block">
        Mostrar/Ocultar
        </button>
        </div>
        <div class="col">
            <div *ngIf="showEdit">
                <app-empleado-edit [empleado_edit_id]="empleado_edit_id" (cancel)="showEdit=!showEdit" (update)="updateEmpleado()"></app-empleado-edit>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container" style="display:flex; justify-content: space-around;">
    <app-empleado-create></app-empleado-create>
</div>