<div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <br>
            <h2 class="text-center">Actualizar una actuacion</h2>
            <br>
            <form name="editorial" (ngSubmit)="f.form.valid && editEditorial()" #f="ngForm" novalidate>
                <div class="form-group">
                        <label for="actuacionFecha"><b>Fecha</b></label>
                        <input type="text" name="Fecha" class="form-control" id="actuacionFecha" [(ngModel)]="actuacion.fecha"
                            #editorialName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && actuacionFecha.invalid }"
                            required>
        
                    <label for="ActuacionTipo"><b>Tipo</b></label>
                     <input type="text" name="tipo" class="form-control" id="ActuacionTipo" [(ngModel)]="actuacion.tipo"
                            #editorialName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && ActuacionTipo.invalid }"
                            required>
        
                      <label for="actuacionDescripcion"><b>Descripcion</b></label>
                     <input type="text" name="descripcion" class="form-control" id="actuacionDescripcion" [(ngModel)]="actuacion.descripcion"
                            #editorialName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && actuacionDescripcion.invalid }"
                            required>
    
    
                    <div class="invalid-feedback">
                        <div> valores invalidos de la actuacion</div>
    
    
                      
                        
                    </div>
                </div>
                <div class="row form-inline justify-content-center align-self-center">
                    <button type="submit" class="btn btn-primary">Edit</button>
                    <div class="divider"></div>
                    <button type="button" class="btn btn-danger" (click)="cancelEdition()">Cancel</button>
                </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
    