<div class="container-fluid">
    <div class="row">
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="row justify-content-md-center">

        <div class="card" id="carta_menu">
            <div class="card-body">
                <a (click)="verPerfil()" class="card-link" id="carta_titulo">Ver perfil</a>
                <br>
                <p class="card-text">En esta sección puede ver y administrar los empleados que han creado incidencias</p>
            </div>
        </div>

        <div class="card" id="carta_menu">
            <div class="card-body">
                <a (click)="listarEmpleados()" class="card-link" id="carta_titulo">Administrar empleados</a>
                <br>
                <p class="card-text">En esta sección puede ver y administrar los empleados que han creado incidencias</p>
            </div>
        </div>

        <div class="card" id="carta_menu">
            <div class="card-body">
                <a (click)="listarTecnicos()" class="card-link" id="carta_titulo">Administrar técnicos</a>
                <br>
                <p class="card-text">En esta sección puede ver y administrar los técnicos parte de Logiciel</p>
            </div>
        </div>


    </div>
    <div class="row justify-content-md-center">
        <div class="card" id="carta_menu">
            <div class="card-body">
                <a href="#" class="card-link" id="carta_titulo">Administrar incidencias</a>
                <br>
                <p class="card-text">En esta sección puede mirar las incidencias y su progreso</p>
            </div>
        </div>
        <div class="card" id="carta_menu">
            <div class="card-body">
                <a (click)="listarEquipos()" class="card-link" id="carta_titulo">Administrar equipos</a>
                <br>
                <p class="card-text">En esta sección puede administrar los equipos del lugar</p>
            </div>
        </div>
    </div>
    <div class="row">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>