<div class="container-fluid" style="max-height: 100%">
    <div class="row">
        <br>
        <br>
        <br>
    </div>
    <div class="row justify-content-md-center">

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <a href="/listarEmpleados" class="card-link">Administrar empleados  <br>  <br></a>

                <p class="card-text"> En esta sección puede ver y administrar los empleados que han creado incidencias</p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <a href="/listarTecnicos" class="card-link">Administrar técnicos</a>
                <p class="card-text">En esta sección puede ver y administrar los técnicos parte de Logiciel</p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <a href="#" class="card-link">Administrar incidencias</a>
                <p class="card-text">En esta sección puede mirar las incidencias y su progreso</p>
            </div>
        </div>
    </div>
</div>