<div class="row justify-content-md-center">
    <div class="col-8">
        <nav class="navbar navbar-light bg-light">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                <button type="button" class="btn btn-primary">Busar</button>
                <button class="btn btn-outline-success my-2 my-sm-0" (click)="goBack()">Regresar</button>
            </form>

            <button class="btn btn-outline-success my-2 my-sm-0" (click)="crearTecnico()">Crear  </button>

        </nav>
    </div>
</div>


<div class="row justify-content-md-center">
    <div class="col-8">
        <table id="myTable" class="table">

            <tr>
                <th onclick="w3.sortHTML('#myTable','.item', 'td:nth-child(1)')">id</th>
                <th onclick="w3.sortHTML('#myTable','.item', 'td:nth-child(2)')">Nombre</th>
                <th onclick="w3.sortHTML('#myTable','.item', 'td:nth-child(3)')">Cédula</th>
                <th onclick="w3.sortHTML('#myTable','.item', 'td:nth-child(4)')">Usuario</th>
                <th onclick="w3.sortHTML('#myTable','.item', 'td:nth-child(5)')">Opciones</th>
                <th onclick="w3.sortHTML('#myTable','.item', 'td:nth-child(6)')"></th>
                <th onclick="w3.sortHTML('#myTable','.item', 'td:nth-child(7)')"></th>

            </tr>


            <tr class="item" *ngFor="let tecnico of tecnicos">
                <td>{{tecnico.id}}</td>
                <td>{{tecnico.name}}</td>
                <td> {{tecnico.cedula}} </td>
                <td>{{tecnico.usuario}}</td>
                <td>
                    <button class="btn btn-danger" (click)="deleteTecnico(tecnico.id)"><span class="fa fa-trash"></span></button>
                </td>

                <td>
                    <button class="btn btn-primary" (click)="showHideEdit(tecnico.id)"><span class="fa fa-pencil"></span></button>
                </td>
                <td>
                    <button class="btn btn-primary" (click)="listarIncidencias(tecnico.id)"><span class="fa fa-align-justify"></span></button>
                </td>
            </tr>

        </table>
    </div>
</div>