<div class="container">
    <div class="row">
        <div class="col-md-12">

            <table *ngIf="shows" class="table">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Cedula</th>
                        <th scope="col">usuario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tecnico of tecnicos">
                        <td>{{tecnico.id}} </td>
                        <td>{{tecnico.name}}</td>
                        <td> {{tecnico.cedula}} </td>
                        <td>{{tecnico.usuario}}</td>
                        <td *ngxPermissionsOnly="['ADMIN']">
                            <button class="btn btn-primary" (click)="showHideEdit(tecnico.id) && ngOnChanges()"><span class="fa fa-pencil"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <button (click)=" shows = !shows   " class="btn btn-outline-primary btn-block">
                Mostrar/Ocultar
        </button>
        </div>
    </div>
</div>
<br>
<br>

<div *ngIf="showEdit">
    <app-tecnico-edit [tecnico_edit_id]="tecnico_edit_id" (cancel)="showEdit=!showEdit && ngOnChanges()" (update)="updateTecnico() && ngOnChanges()"></app-tecnico-edit>
</div>
<div class="container">
    <app-tecnico-create></app-tecnico-create>
</div>