<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(204, 255, 204);">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            
            <!-- active -->
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['home']"> <img src="https://previews.dropbox.com/p/thumb/AAZGT72VqCmTdO0QE923W_o9v4_6PnJiU55K79qTipezbbrvUr1nps43E8OKQa6-oc0NC_LapK5taqOejtiXDeUUhK4K_3oW5DRv3ZQVufSxqfhM_KbpxWZTn4Bgluk8v6QcuS-eGupeVMfBqLy7VW9dWuXu8ZKTrW6r5mtFgoePpYGCOrkD4zOYhC9s8QFgPVCj8CZdEuJGTTt-QtqDMehmaWwCztostOzTNvXxFMbut1NvhEpO6Ai_sAM7WCiuabhdcjmsBojdQQmHbdKLlrwPp64BfgeipHDQPXVphbn43JL7HTLvis49qb0DyRXxmM813SKeBchtiiD5yjRruWmw/p.png?size_mode=5" alt="Inicio" height="35" width="35"> </a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['empleados/list']"> Empleados</a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['tecnicos/list']"> Técnicos </a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['admins/list']"> Administradores </a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['Actuaciones/list']"> Actuaciones </a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" > Incidencias </a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['equipos/list']"> Equipos de Cómputo </a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['calificaciones/list']"> Calificaciones </a>
            </li>

            <li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link"> Incidencias </a>
                </li>
            
        </ul>
    </div>
</nav>

<br>
<br>

<img src="https://previews.dropbox.com/p/thumb/AAY6qD90d2CHeEbGcFc0ysE3ghUr62nQnyerwIfwPocrVoB3uFwYcZVOkBI-NgaR8VVQpL7jt6PQH5f5M6JJZK0bKsWSQLh7mmMKyHNd7dU5e40UgXBusIZNPexTEWlvNfS4-7K5p4gQ_QDMGecUCS-e3VyUWJigwzuCgIiv_Ih6TbCMlNL4PINwGAA03j3UEXBIrgu_Oxo_vFbF-lUI8L2bI26SKXZmxj3Pi4mCE5UlZLtgRhFnNf25ssTnlBFmA9Fgl1-BVRq22vVLGTM8SreSsetsmv7jJIO-NTuTUKtkuLsPC7HiqSAhtCiQLI_WQD7LLSVXNaZHamKFC6bid9Ed/p.png?size_mode=5" alt="Click">
<div style="margin-left: 100px">Soluciones sencillas al alcance de un click.</div>

<router-outlet></router-outlet>
