<div class="container">
    <nav class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar" style="background-color:black;">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <!-- active -->
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['home']"> <img src="https://i.ytimg.com/vi/PWHHR_Ocs5A/maxresdefault.jpg" alt="Inicio" height="35" width="35"> </a>
                </li>

                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['empleados/list']"> Empleados</a>
                </li>

                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['tecnicos/list']"> Técnicos </a>
                </li>

                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['administradores/list']"> Administradores </a>
                </li>

                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['Actuaciones/list']"> Actuaciones </a>
                </li>


                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link"> Incidencias </a>
                </li>

                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['equipos/list']"> Equipos de Cómputo </a>
                </li>

                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['calificaciones/list']"> Calificaciones </a>
                </li>

                <li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link"> Incidencias </a>
                    </li>

            </ul>
        </div>
    </nav>
    <br>
    <br>
    <router-outlet></router-outlet>
</div>