<div class="container-fluid">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <br>
            <h2 class="text-center">Crear un nuevo equipo</h2>
            <br>
            <form name="book" (ngSubmit)="f.form.valid && createEquipo()" #f="ngForm" novalidate>
                
                <div class="form-group">
                    <label for="equipoComputo.descripcion"><b>Descripción</b></label>
                    <input type="text" name="equipoComputoDescripcion" class="form-control" id="equipoComputoDescripcion" [(ngModel)]="equipo.descripcion" #equipoComputoDescripcion="ngModel" required>
                    <div class="invalid-feedback">
                        <div>Falta la descripción del equipo</div>
                    </div>
                </div>

                <br>
                
                <div class="row form-inline justify-content-center align-self-center">
                    <button type="submit" class="btn btn-primary ">Crear</button>
                    <div class="divider"></div>
                    <button class="btn btn-danger" (click)="cancelCreation()">Cancelar</button>
                </div>
            </form>
            <br>
        </div>
    </div>
</div>