<body>
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <br><br><br><br><br><br>
        </div>
        <div class="row justify-content-md-center">
            <div class="card" style="width: 18rem;">
                <h5 align="center" class="card-title">Tecnico</h5>
                <img src="https://fotos.subefotos.com/edb352e522c813d82f0478ff245f702fo.png"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Si eres un técnico ingresa aquí para ver tu perfil y tus incidencias</p>
                    <button (click)="tecnicoLogin()" type="button" class="btn btn-outline-primary btn-block">
                            Soy un tecnico
                    </button>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <h5 align="center" class="card-title">Empleado</h5>
                <img src="https://fotos.subefotos.com/48eccf3481166bb9148947377c034a4do.png"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    
                    <p class="card-text">Si eres un empleado ingresa aquí para ver tu perfil y tus incidencias creadas</p>
                    <button (click)="empleadoLogin()" type="button" class="btn btn-outline-primary btn-block">
                            Soy un empleado
                    </button>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <h5 align="center" class="card-title">Administrador </h5>
                <img src="https://fotos.subefotos.com/a5026e12fb074d91ccd969c21ab480dfo.png"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Si eres un administrador, aquí podrás gestionar las incidencias, los técnicos y los empleados de la aplicación</p>
                    <button (click)="adminLogin()" type="button" class="btn btn-outline-primary btn-block">
                        Soy un administrador
                    </button>
                </div>
            </div>

        </div>
        <br><br><br><br><br><br><br><br>
    </div>
</body>