<div class="container-fluid" style="max-height: 100%">
    <div class="row" style="align-content: center">
        <div class="col-12" style="display:flex; justify-content: center;">
            <img height="500" width="1600" src="https://dl.dropbox.com/s/javczcc5ilho1n8/banner.png?dl=0" alt="Click">
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col">
            <div class="card border-info mb-3" style="max-width: 18rem;">
                <div class="card-header">Logiciel</div>
                <div class="card-body text-info">
                    <h5 class="card-title">Te damos soluciones</h5>
                    <p class="card-text">Soluciones sencillas al alcance de un click</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-info mb-3" style="max-width: 18rem;">
                <div class="card-header">Registrate</div>
                <div class="card-body text-info">
                    <h5 class="card-title">Crea un usuario</h5>
                    <p class="card-text">Sólo registrate como usuario para acceder a nuestros servicios</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-info mb-3" style="max-width: 18rem;">
                <div class="card-header">Nuestro servicio es simple</div>
                <div class="card-body text-info">
                    <h5 class="card-title">Todo en 3 sencillos pasos</h5>
                    <p class="card-text">Registrate, crea una inidcencia y nosotros la solucionamos</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-info mb-3" style="max-width: 18rem;">
                <div class="card-header">Integrantes</div>
                <div class="card-body text-info">
                    <h5 class="card-title">Integrantes del equipo</h5>
                    <p class="card-text"> Valerie Parra Cortés</p>
                    <p class="card-text"> Daniel Santamaría Álvarez</p>
                                        <p class="card-text"> Juan Pablo Correa</p>
                                        <p class="card-text">Guillermo Lobaton</p>
                                        <p class="card-text"> David Acuña</p>
                                        <p class="card-text"> Cristina González</p>
                </div>
            </div>
        </div>
    </div>








</div>
